<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiden.trading.dao.StockInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.aiden.trading.entity.StockInfo">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="code" property="code" />
        <result column="exchange" property="exchange" />
        <result column="exchange_code" property="exchangeCode" />
        <result column="currency" property="currency" />
        <result column="name" property="name" />
        <result column="list_date" property="listDate" />
        <result column="ths_code" property="thsCode" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, `code`, `exchange`, exchange_code, currency, `name`, list_date, ths_code
    </sql>

</mapper>
